
html {
font-family: "roboto", sans-serif;
font-size: 13px;
}

ul, li {
margin: 0;
padding: 0;
border: 0;
list-style: none;
}
a {
cursor: pointer;
}
a:hover, a:link, a:visited, a:active {
text-decoration: none;
color: inherit;
}
.clear {
clear: both;
}

.Containers {
width: 1026px;
margin: 0 auto;
position: relative;
}
.Containers h1 {
font-weight: normal;
font-family: roboto,  sans-serif;
}

@media screen and (max-width: 726px) {
.Containers {
width: 100%}

}

#site-header {
margin: 0 auto;
position: relative;
z-index: 10;
}

#site-header .site-advertisement {
margin: 0;
background: #ba1027;
}
#site-header .site-advertisement .Containers {
height: 90px;
display: flex;
justify-content: space-between;
align-items: center;
}
#site-header .site-advertisement .logo-tapakila img {
padding: 10px 0;
}
#site-header .site-advertisement .header-search-box {
margin: 0 30px;
position: relative;
width: 100%}
#site-header .site-advertisement .header-search-box form {
display: block;
position: relative;
}
#site-header .site-advertisement .header-search-box form input[type=text] {
background-color: #f5f5f5;
width: 100%;
min-width: 200px;
height: 40px;
padding: 0 0 0 15px;
box-sizing: border-box;
border-radius: 3px;
border: 0;
font-size: 16px;
}
#site-header .site-advertisement .header-search-box form input[type=submit] {
position: absolute;
right: 0;
top: 0;
height: 40px;
width: 40px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border: 0;
font-size: 0;
background: #680306 url("../img/searchicon.png") no-repeat center center;
}

#site-header .site-advertisement .tapakila-menu {
padding: 0;
font-family: robotoLight, sans-serif;
}
#site-header .site-advertisement .tapakila-menu>ul {
display: flex;
justify-content: flex-end;
}
#site-header .site-advertisement .tapakila-menu>ul>li {
font-size: 15px;
color: white;
display: inline-block;
padding: 0 8px;
border-right: 1px solid white;
}
#site-header .site-advertisement .tapakila-menu>ul>li a {
word-break: keep-all;
white-space: nowrap;
}
#site-header .site-advertisement .tapakila-menu>ul>li:last-child {
padding-right: 0;
border: 0;
}
#site-header .site-navigation {
background: #ffffff;
font-size: 12px;
font-family: roboto,  sans-serif;
}
#site-header .site-navigation .menu {
display: inline-block;
}

#site-header .site-navigation .menu li {
display: inline-block;
margin: 15px 18px 15px 0;
font-family: roboto,  sans-serif;
line-height: 18px;
color: #bd0a21;
text-transform: uppercase;
}
#site-header .site-navigation .menu li a {
display: block;
padding-right: 18px;
font-size: 18px;
border-right: dotted 1px #bebebe;
letter-spacing: 0.5px;
}
#site-header .site-navigation .menu li.section {
display: none;
}
#site-header .site-navigation .menu li.tags {
margin: 15px 0;
color: #ba1027;
}
#site-header .site-navigation .menu li.tags a{
border: 0;
}
#site-header .site-navigation .menu li.tags {
margin-left: 40px;
}
#site-header .site-navigation .menu li:hover, #site-header .site-navigation .menu li.active {
color: #ccc;
}
#site-header .site-navigation .menu li:hover .triangle.left-bottom, #site-header .site-navigation .menu li.active .triangle.left-bottom {
border-top: 4px solid #01b0f3;
}
#site-header .site-navigation .menu li:hover .triangle.right-bottom, #site-header .site-navigation .menu li.active .triangle.right-bottom {
border-top: 4px solid #01b0f3;
}
#site-header .site-navigation .menu li:last-child a {
border: 0;
}
#site-header .site-navigation .menu li .triangle {
display: inline-block;
margin-bottom: 6px;
}
#site-header .site-navigation .menu li .triangle.left-bottom {
margin-left: 8px;
border-top: 4px solid #0179a7;
border-left: 4px solid transparent;
}
#site-header .site-navigation .menu li .triangle.right-bottom {
border-top: 4px solid #0179a7;
border-right: 4px solid transparent;
}

#site-header .site-navigation .tags-column {
background: #e5e5e5;
}
#site-header .site-navigation .tags-column .tags {
line-height: 32px;
}

#site-header .site-navigation .tags-column .tags>a {
display: inline-block;
vertical-align: top;
font-size: 14px;
padding: 0 10px;
font-family: roboto, sans-serif;
}
#site-header .site-navigation .tags-column .tags>a:hover {
background: #ba1027;
color: white;
}
#site-header .site-menu a:hover {
color: #ccc;
}
#site-header .site-menu .section-list, #site-header .site-menu .tags-list {
display: none;
border-radius: 5px;
background: white;
box-shadow: 0 0 3px #bababa;
margin: 10px 0 45px;
}
#site-header .site-menu .section-list li, #site-header .site-menu .tags-list li {
display: inline-block;
vertical-align: top;
}
#site-header .site-menu .section-list li.box, #site-header .site-menu .tags-list li {
border-bottom: 1px dashed #ccc;
margin-bottom: 15px;
}
#site-header .site-menu .section-list li a, #site-header .site-menu .tags-list li a {
display: inline-block;
padding: 9px;
font-size: 18px;
}

@media screen and (max-width: 1060px) {
#site-header .Containers{
width: 100%}


#site-header .site-navigation .menu {
display: inline;
padding: 0;
}
#site-header .site-navigation .menu li {
margin-right: 0;
}
#site-header .site-navigation .menu li a {
padding: 0 9px;
border: 0;
}

#site-header .site-menu .section-list, #site-header .site-menu .tags-list {
margin: 10px 10px 45px;
}


}@media screen and (max-width: 700px) {
#site-header .site-advertisement .Containers {
flex-wrap: wrap;
height: auto;
}
#site-header .site-advertisement .logo-tapakila{
width: 100%;
text-align: center;
}
#site-header .site-advertisement .tapakila-menu {
width: 100%;
padding: 15px 0;
}
#site-header .site-advertisement .tapakila-menu>ul {
justify-content: center;
flex-wrap: wrap;
}
#site-header .site-navigation .menu>li {
display: none;
}
#site-header .site-navigation .menu>li.section, #site-header .site-navigation .menu>li.tags  {
display: inline-block;
}
#site-header .site-navigation .menu>li.tags {
margin-left: 0;
}
#site-header .site-menu .venues-list>li.box, #site-header .site-menu .promoters-list>li.box {
width: 100%}
#site-header .site-menu .venues-list>li.space, #site-header .site-menu .promoters-list>li.space {
display: none;
}
}@media screen and (max-width: 400px) {
#site-header .site-advertisement .Containers {
justify-content: center;
}
#site-header .site-advertisement .header-search-box {
margin: 0;
width: auto;
}
}
.section-all{
background:#f8f3f3;
}

.section-concert{
border-top-color: rgb(186, 16, 39);
border-top-style: solid;
border-top-width: 7px;
font-family: roboto,sans-serif;
font-size:12px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 10px;
margin-top: 30px;
}

.Concert{
color:rgb(186, 16, 39);
}

.flash div:hover img {
opacity: 1;
-webkit-animation: flash 1.5s;
animation: flash 1s;
}
@-webkit-keyframes flash {
0% {
opacity: .4;
}
100% {
opacity: 1;
}
}
@keyframes flash {
0% {
opacity: .4;
}
100% {
opacity: 1;
}
}

.sinscrire{
border-top-color: rgb(186, 16, 39);
border-top-style: solid;
border-top-width: 7px;
font-family: roboto,sans-serif;
font-size:12px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 10px;
margin-top: 30px;

}

#letter{
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("../img/spectacle.png");
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: cover;
font-family: roboto,sans-serif;
font-size: 0px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 0px;
margin-top: 30px;
text-align: center;

}

.logo{
display: inline-block;
font-family: roboto,sans-serif;
font-size: 0px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
margin-top: 40px;
text-align: center;
vertical-align: middle;

}
.inscription{
color: rgb(255, 255, 255);
font-family: roboto,sans-serif;
font-size: 60px;
font-weight: 400;
line-height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: center;


}

.mise-a-jour{
color: rgb(255, 255, 255);
font-family: roboto,sans-serif;
font-size: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: center;

}

.email{
background-image: url("../img/envelop-01.png");
background-position: 10px 50%;
background-position-x: 10px;
background-position-y: 50%;
background-repeat: no-repeat;
border-bottom-color: rgb(60, 60, 60);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(60, 60, 60);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(60, 60, 60);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(60, 60, 60);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
border-top-width: 0px;
display: inline-block;
font-family:roboto;
font-size: 12px;
margin-bottom: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-align: start;
width: 100%;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}

.ok{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(187, 16, 39);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family:roboto;
font-size: 16px;
padding-bottom: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 7px;
text-align: center;
width: 100%;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}

#button{
display: inline-block;
font-family: roboto,sans-serif;
font-size: 0px;
margin-bottom: 40px;
margin-left: 5px;
margin-right: 20px;
margin-top: 40px;
text-align: center;
vertical-align: middle;
width: 382px;
}

.anual{

color:rgb(186, 16, 39);
}
.foot{
background-color:red !important;
}

.bas{
font-family: "roboto";
color:black;
font-size: 12px;
}





#site-footer {
text-align: center;
background: #bb1027;
overflow: hidden
}



#site-footer .Containers {
text-align: center;
padding: 40px 0;
font-size: 0;
font-family: robotoLight, sans-serif
}

#site-footer .Containers .footer-logo {
font-size: 12px;
background: none
}

#site-footer .Containers .footer-logo img {
padding-top: 10px
}

#site-footer .Containers div {
display: inline-block;
text-align: left;
vertical-align: top;
color: white;
font-size: 16px;
line-height: 18px;
padding: 0 40px;
border-right: 1px solid #d75d6d
}

#site-footer .Containers div.infop {
padding-top: 8px;
padding-bottom: 8px
}

#site-footer .Containers div:first-of-type {
padding-left: 0;
padding-right: 80px;
border: 0
}

#site-footer .Containers div:last-of-type {
width: 100px;
padding-right: 0;
border: 0;
white-space: nowrap
}

#site-footer .Containers div:last-of-type a:hover {
text-decoration: none
}

#site-footer .Containers div a:hover {
text-decoration: underline
}

#site-footer>p {
margin: 0;
padding-bottom: 40px;
color: white;
font-size: 12px
}


#site-footer .terms {
text-transform: uppercase
}

.footer-logo {
background: #ffffff;
border-bottom: 1px solid #cbcbcb
}

.footer-logo .Containers {
padding: 30px 0 10px
}

.footer-logo .Containers h1 {
margin: 0;
font-size: 18px;
color: #bd0a21
}

.footer-logo .Containers>ul {
padding: 30px 0;
display: flex;
justify-content: space-between
}

.footer-partenaire1,
.footer-partenaire2 {
background: #f5f5f5
}

.footer-partenaire1 .Containers,
.footer-partenaire2 .Containers {
padding: 30px 0
}

.footer-partenaire1 .Containers h1,
.footer-partenaire2 .Containers h1 {
margin: 0;
font-size: 18px;
color: #bd0a21
}

.footer-partenaire1 .Containers>ul,
.footer-partenaire2 .Containers>ul {
display: block;
padding: 20px 0 0
}

.footer-partenaire1 .Containers>ul>li,
.footer-partenaire2 .Containers>ul>li {
list-style-type: none;
text-indent: -2px;
width: 250px;
float: left;
font-size: 14px;
line-height: 26px;
position: relative;
padding-left: 15px;
box-sizing: border-box
}

.footer-partenaire1 .Containers>ul>li a:hover,
.footer-partenaire2 .Containers>ul>li a:hover {
color: #a50020
}

.footer-partenaire1 .Containers>ul>li:before,
.footer-partenaire2 .Containers>ul>li:before {
content: " ";
width: 4px;
height: 4px;
border-radius: 4px;
background-color: #9e9e9e;
position: absolute;
top: 12px;
left: 0
}

.footer-partenaire2 {
background: #e5e5e5
}

@media screen and (max-width: 1060px) {
#site-footer .Containers {
width: 100%;
text-align: center
}
#site-footer .Containers .footer-logo {
display: block;
text-align: center
}
#site-footer .Containers div {
padding-bottom: 20px;
text-align: left;
border: 0
}
#site-footer .Containers div:first-of-type {
padding: 0 40px 20px
}
#site-footer .Containers div:last-of-type {
padding: 0 40px 20px
}
.footer-logo .Containers,
.footer-partenaire1 .Containers,
.footer-partenaire2 .Containers {
width: 100%
}
.footer-logo .Containers h1,
.footer-partenaire1 .Containers h1,
.footer-partenaire2 .Containers h1 {
margin: 0 10px
}
.footer-logo .Containers>ul,
.footer-partenaire1 .Containers>ul,
.footer-partenaire2 .Containers>ul {
margin: 0 10px
}
.footer-logo .Containers>ul {
justify-content: center;
flex-wrap: wrap
}
.footer-logo .Containers>ul>li {
padding: 0 20px
}
}

@media screen and (max-width: 401px) {
#site-footer .Containers div.infop {
text-align: center
}
#site-footer .Containers div:last-of-type {
padding: 8px 0;
width: auto
}
.footer-partenaire1 .Containers>ul>li,
.footer-partenaire2 .Containers>ul>li {
width: 150px;
font-size: 12px
}
.footer-logo .Containers>ul {
flex-direction: column;
align-content: center
}
.footer-logo .containers>ul>li {
padding: 0;
text-align: center
}
}


.soumettre{
background-image: url("../img/envelop-01.png");
background-position: 10px 50%;
background-position-x: 10px;
background-position-y: 50%;
background-repeat: no-repeat;
border-bottom-color: rgb(60, 60, 60);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(60, 60, 60);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(60, 60, 60);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(60, 60, 60);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
border-top-width: 0px;
display: inline-block;
font-family: "roboto";
font-size: 12px;
margin-bottom: 10px;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 10px;
padding-top: 10px;
text-align: start;
width:250px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}

.soumettre-ok{
background-attachment: scroll;
background-clip: border-box;
background-color: black;
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: roboto;
font-size: 16px;
padding-bottom: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 7px;
text-align: center;
width:250px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

}

@media screen and (max-width:320px) {
#button{	

width:90%;}
.email,.ok {
width:100%;
}
}
@media screen and (max-width:360px) {
#button{	

width:90%;}
.email,.ok {
width:100%;
}
}

@media screen and (max-width:375px) {
#button{	

width:75%;}
.email,.ok {
width:100%;
}
}







